//шрифт
$font_family_default:  Avenir, Helvetica, Arial, sans-serif;

// основная палитра цветов
$c-white: #FFFFFF;
$c-dark: #010318;
$c-dark-35: rgba(#010318, 0.35);
$c-blue: #3dbbf5;
$c-blue-15: rgba(#3dbbf5, 0.15);
$c-blue-05: rgba(#3dbbf5, 0.05);
$c-red: #F53D49;
$c-green: #4ADAA6;

//анимация
$transition: all .2s ease;
